{% extends 'base.html' %}
{% block content %}
    {% load markdownify %}
    <main>
        <div>
            <h1 style="margin-left: 30px">{{ project.name }}</h1>
            <h2 style="margin-left: 30px">Tasks</h2>
            <p>
                <button class="btn-primary"><a href="{% url 'create_task' %}">Create a new task</a></button>
            </p>
            {% if project.tasks.all|length == 0 %}<p>This project has no tasks</p>{% endif %}
            <table class="styled-table">
                <thead>
                    <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for tasks in project.tasks.all %}
                            <td>{{ tasks.name }}</td>
                            <td>{{ tasks.assignee }}</td>
                            <td>{{ tasks.start_date }}</td>
                            <td>{{ tasks.due_date }}</td>
                            <td>{{ tasks.is_completed }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </main>
{% endblock content %}
